<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yishenxiao.commons.dao.ArticleTypeMapper" >
  <resultMap id="BaseResultMap" type="com.yishenxiao.commons.beans.ArticleType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="articlePicture" property="articlepicture" jdbcType="VARCHAR" />
    <result column="articleTypeName" property="articletypename" jdbcType="VARCHAR" />
    <result column="articleTypeDesc" property="articletypedesc" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, articlePicture, articleTypeName, articleTypeDesc, state, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_article_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_article_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yishenxiao.commons.beans.ArticleType" >
    insert into sys_article_type (id, articlePicture, articleTypeName, 
      articleTypeDesc, state, createTime, 
      updateTime)
    values (#{id,jdbcType=BIGINT}, #{articlepicture,jdbcType=VARCHAR}, #{articletypename,jdbcType=VARCHAR}, 
      #{articletypedesc,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yishenxiao.commons.beans.ArticleType" >
    insert into sys_article_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articlepicture != null" >
        articlePicture,
      </if>
      <if test="articletypename != null" >
        articleTypeName,
      </if>
      <if test="articletypedesc != null" >
        articleTypeDesc,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articlepicture != null" >
        #{articlepicture,jdbcType=VARCHAR},
      </if>
      <if test="articletypename != null" >
        #{articletypename,jdbcType=VARCHAR},
      </if>
      <if test="articletypedesc != null" >
        #{articletypedesc,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yishenxiao.commons.beans.ArticleType" >
    update sys_article_type
    <set >
      <if test="articlepicture != null" >
        articlePicture = #{articlepicture,jdbcType=VARCHAR},
      </if>
      <if test="articletypename != null" >
        articleTypeName = #{articletypename,jdbcType=VARCHAR},
      </if>
      <if test="articletypedesc != null" >
        articleTypeDesc = #{articletypedesc,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yishenxiao.commons.beans.ArticleType" >
    update sys_article_type
    set articlePicture = #{articlepicture,jdbcType=VARCHAR},
      articleTypeName = #{articletypename,jdbcType=VARCHAR},
      articleTypeDesc = #{articletypedesc,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getarticleTypeData" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_article_type where state=0 or state=3
  </select>
  <select id="queryBySelf" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_article_type where state=3
  </select>
</mapper>