<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yishenxiao.commons.dao.ProtertiesDataMapper" >
  <resultMap id="BaseResultMap" type="com.yishenxiao.commons.beans.ProtertiesData" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dataKey" property="datakey" jdbcType="VARCHAR" />
    <result column="dataValue" property="datavalue" jdbcType="VARCHAR" />
    <result column="dataDesc" property="datadesc" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dataKey, dataValue, dataDesc, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_proterties_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_proterties_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yishenxiao.commons.beans.ProtertiesData" >
    insert into sys_proterties_data (id, dataKey, dataValue, 
      dataDesc, createTime, updateTime
      )
    values (#{id,jdbcType=BIGINT}, #{datakey,jdbcType=VARCHAR}, #{datavalue,jdbcType=VARCHAR}, 
      #{datadesc,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yishenxiao.commons.beans.ProtertiesData" >
    insert into sys_proterties_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="datakey != null" >
        dataKey,
      </if>
      <if test="datavalue != null" >
        dataValue,
      </if>
      <if test="datadesc != null" >
        dataDesc,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="datakey != null" >
        #{datakey,jdbcType=VARCHAR},
      </if>
      <if test="datavalue != null" >
        #{datavalue,jdbcType=VARCHAR},
      </if>
      <if test="datadesc != null" >
        #{datadesc,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yishenxiao.commons.beans.ProtertiesData" >
    update sys_proterties_data
    <set >
      <if test="datakey != null" >
        dataKey = #{datakey,jdbcType=VARCHAR},
      </if>
      <if test="datavalue != null" >
        dataValue = #{datavalue,jdbcType=VARCHAR},
      </if>
      <if test="datadesc != null" >
        dataDesc = #{datadesc,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yishenxiao.commons.beans.ProtertiesData" >
    update sys_proterties_data
    set dataKey = #{datakey,jdbcType=VARCHAR},
      dataValue = #{datavalue,jdbcType=VARCHAR},
      dataDesc = #{datadesc,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryByDataKeyList" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_proterties_data
    where dataKey = #{key,jdbcType=VARCHAR}
  </select>
</mapper>