<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yishenxiao.usermanager.dao.UserArticleMolMapper" >
  <resultMap id="BaseResultMap" type="com.yishenxiao.usermanager.beans.UserArticleMol" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="totalMOL" property="totalmol" jdbcType="DECIMAL" />
    <result column="todayMOL" property="todaymol" jdbcType="DECIMAL" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, totalMOL, todayMOL, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_article_mol
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user_article_mol
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yishenxiao.usermanager.beans.UserArticleMol" >
    insert into sys_user_article_mol (id, userId, totalMOL, 
      todayMOL, createTime, updateTime
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{totalmol,jdbcType=DECIMAL}, 
      #{todaymol,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yishenxiao.usermanager.beans.UserArticleMol" >
    insert into sys_user_article_mol
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="totalmol != null" >
        totalMOL,
      </if>
      <if test="todaymol != null" >
        todayMOL,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="totalmol != null" >
        #{totalmol,jdbcType=DECIMAL},
      </if>
      <if test="todaymol != null" >
        #{todaymol,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yishenxiao.usermanager.beans.UserArticleMol" >
    update sys_user_article_mol
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="totalmol != null" >
        totalMOL = #{totalmol,jdbcType=DECIMAL},
      </if>
      <if test="todaymol != null" >
        todayMOL = #{todaymol,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yishenxiao.usermanager.beans.UserArticleMol" >
    update sys_user_article_mol
    set userId = #{userid,jdbcType=BIGINT},
      totalMOL = #{totalmol,jdbcType=DECIMAL},
      todayMOL = #{todaymol,jdbcType=DECIMAL},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryByUserId" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_article_mol
    where userId = #{userId,jdbcType=BIGINT}
  </select>
  <update id="updateTotalAndToday" parameterType="com.yishenxiao.usermanager.beans.UserArticleMol" >
    update sys_user_article_mol
    set totalMOL = totalMOL + #{dataCount,jdbcType=DECIMAL},
      todayMOL = todayMOL + #{dataCount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryByAllDataCount" resultType="java.lang.Integer">
    select count(*) from sys_user_article_mol
  </select>
  <select id="queryPartData" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_article_mol
    where id = #{start,jdbcType=BIGINT} limit #{eventCounts,jdbcType=BIGINT}
  </select>
  <update id="updateTodayMolCount" parameterType="com.yishenxiao.usermanager.beans.UserArticleMol" >
    update sys_user_article_mol
    set todayMOL = #{molCount,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>