<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yishenxiao.usermanager.dao.UserIdentificationMapper" >
  <resultMap id="BaseResultMap" type="com.yishenxiao.usermanager.beans.UserIdentification" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="realName" property="realname" jdbcType="VARCHAR" />
    <result column="identificationCard" property="identificationcard" jdbcType="VARCHAR" />
    <result column="picturePrecedingUrl" property="pictureprecedingurl" jdbcType="VARCHAR" />
    <result column="pictureAfterUrl" property="pictureafterurl" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, realName, identificationCard, picturePrecedingUrl, pictureAfterUrl, createTime, 
    updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_identification
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user_identification
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yishenxiao.usermanager.beans.UserIdentification" >
    insert into sys_user_identification (id, userId, realName, 
      identificationCard, picturePrecedingUrl, 
      pictureAfterUrl, createTime, updateTime
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{realname,jdbcType=VARCHAR}, 
      #{identificationcard,jdbcType=VARCHAR}, #{pictureprecedingurl,jdbcType=VARCHAR}, 
      #{pictureafterurl,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yishenxiao.usermanager.beans.UserIdentification" >
    insert into sys_user_identification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="realname != null" >
        realName,
      </if>
      <if test="identificationcard != null" >
        identificationCard,
      </if>
      <if test="pictureprecedingurl != null" >
        picturePrecedingUrl,
      </if>
      <if test="pictureafterurl != null" >
        pictureAfterUrl,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="identificationcard != null" >
        #{identificationcard,jdbcType=VARCHAR},
      </if>
      <if test="pictureprecedingurl != null" >
        #{pictureprecedingurl,jdbcType=VARCHAR},
      </if>
      <if test="pictureafterurl != null" >
        #{pictureafterurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yishenxiao.usermanager.beans.UserIdentification" >
    update sys_user_identification
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="realname != null" >
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="identificationcard != null" >
        identificationCard = #{identificationcard,jdbcType=VARCHAR},
      </if>
      <if test="pictureprecedingurl != null" >
        picturePrecedingUrl = #{pictureprecedingurl,jdbcType=VARCHAR},
      </if>
      <if test="pictureafterurl != null" >
        pictureAfterUrl = #{pictureafterurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yishenxiao.usermanager.beans.UserIdentification" >
    update sys_user_identification
    set userId = #{userid,jdbcType=BIGINT},
      realName = #{realname,jdbcType=VARCHAR},
      identificationCard = #{identificationcard,jdbcType=VARCHAR},
      picturePrecedingUrl = #{pictureprecedingurl,jdbcType=VARCHAR},
      pictureAfterUrl = #{pictureafterurl,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryByUserId" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_identification
    where userId = #{userId,jdbcType=BIGINT}
  </select>
  <select id="queryByUserIdAndIdentification" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_identification
    where userId = #{userId,jdbcType=BIGINT} and identificationCard = #{identificationCard,jdbcType=VARCHAR}
  </select>
</mapper>