<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yishenxiao.usermanager.dao.UserShareMapper" >
  <resultMap id="BaseResultMap" type="com.yishenxiao.usermanager.beans.UserShare" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dataId" property="dataid" jdbcType="VARCHAR" />
    <result column="userArticleId" property="userarticleid" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="useCount" property="usecount" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dataId, userArticleId, userId, useCount, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_share
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user_share
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yishenxiao.usermanager.beans.UserShare" >
    insert into sys_user_share (id, dataId, userArticleId, 
      userId, useCount, createTime, 
      updateTime)
    values (#{id,jdbcType=BIGINT}, #{dataid,jdbcType=VARCHAR}, #{userarticleid,jdbcType=BIGINT}, 
      #{userid,jdbcType=BIGINT}, #{usecount,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yishenxiao.usermanager.beans.UserShare" >
    insert into sys_user_share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dataid != null" >
        dataId,
      </if>
      <if test="userarticleid != null" >
        userArticleId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="usecount != null" >
        useCount,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dataid != null" >
        #{dataid,jdbcType=VARCHAR},
      </if>
      <if test="userarticleid != null" >
        #{userarticleid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="usecount != null" >
        #{usecount,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yishenxiao.usermanager.beans.UserShare" >
    update sys_user_share
    <set >
      <if test="dataid != null" >
        dataId = #{dataid,jdbcType=VARCHAR},
      </if>
      <if test="userarticleid != null" >
        userArticleId = #{userarticleid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="usecount != null" >
        useCount = #{usecount,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yishenxiao.usermanager.beans.UserShare" >
    update sys_user_share
    set dataId = #{dataid,jdbcType=VARCHAR},
      userArticleId = #{userarticleid,jdbcType=BIGINT},
      userId = #{userid,jdbcType=BIGINT},
      useCount = #{usecount,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryByUserIdAndUserArticleId" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_share
    where dataId = #{dataId,jdbcType=BIGINT} and userId = #{userId,jdbcType=BIGINT}
  </select>
  <select id="queryByDataId" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_share
    where dataId = #{dataId,jdbcType=BIGINT}
  </select>
  <select id="queryByUserId" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_share
    where userId = #{userId,jdbcType=BIGINT}
  </select>
</mapper>